.carousel-inner .item img {
    min-width: 150%;
    height: 500px;
}
.case{
    text-align: center;
    margin-top: 100px;
}
.case img {
    height: 200px;
    border-radius:50%;
}

.screenshot .item {
    border-top: 1px solid #CCC;
    padding-bottom: 30px;
    padding-top: 20px;
}